.main-container{
    flex: 1 1 auto;
    padding: 10px;
    > div {
      display: flex;
      flex-direction: column;
    }
  }
.redact-input{
  display: none !important;
  margin-right: 10px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none; 
  border: solid 1px  rgb(0, 214, 252);;
}
.classDisplayNone{
  display: none !important;
}
.classDisplayBlock{
  display: block !important;
}
.material-icon-cursor{
  cursor: pointer;
  margin-left: 10px;
}
button{
  max-height: 36px ;
}
