.main-container{
    flex: 1 1 auto;
    padding: 10px;
    > div {
      display: flex;
      flex-direction: column;
    }
  }
.redact-input{
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border: 2px dashed red;
  display: none;
}
.classDisplayNone{
  display: none !important;
}
.classDisplayBlock{
  display: block !important;
}
textarea{
  resize: none;
}
