.todo-item{
  display: flex;
  padding: 10px;
  li{
      list-style-type: none;
  }
  border: 1px solid black;

  justify-content: space-between;
  &__btn-done{
      background-color: #1db41d;
  }
  &__btn-delet{
      background-color: rgb(241, 1, 1);
  }
}
button{
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  margin:0 20px;
  border: none;
  &:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(28,199,42,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(28,199,42,0);
    transform: scale(1.05);
    transition: all .2s;
  }
  // &:disabled{
  //   background-color: grey;
  //   box-shadow: none;
  //   transform: none;
  //   cursor:not-allowed ;
  // }
}
.todo-input{
  display: flex;
  justify-content: center;
  padding: 10px;
  input{
      padding: 5px ;
      border-radius: 5px;
  }
  button{
    color: indigo;
    background-color: greenyellow;
    border: 1px solid green;

  }
}
.todo-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  label{
    margin-right: 10px;
  }
  select{
    padding: 5px 10px;
    border-radius: 5px;
    
  }
}

.lds-hourglass {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
  transform: translate(-100%,0);
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 100px solid rgb(237, 58, 58);
  border-color: rgb(237, 58, 58) transparent rgb(237, 58, 58) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}